.header{
    top: 0;
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 9999;
}
.names{
    align-items: center;
    display: flex;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 70px;
    width: 100%;
    justify-content: space-between;
}
.name{
    text-align: center;
    margin-left: 1%;
    color: white;
}
.username{
    background-color: rgb(0, 0, 0);
    margin-right: 1%;
    color: white;
}
.username > button{
    border-radius: 5%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 70px;
    height: 30px;
    border: none;
}
.exit{
    margin-right: 10px;
}
.footer{
    height: 100px;
}
.headersize{
    height: 150px;
    background-color: rgb(255, 255, 255);
}
.cars{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    min-width: 350px;
    background-color: black;
    width: 70%;
    justify-content: space-evenly;
}
.car{
    aspect-ratio: 5/6;
    background-color: aliceblue;
    min-height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.all{
    min-width: 350px;
}

.inp{
	border-radius: 5px;
	border: 1px solid black;
	align-items: center;
    display: flex;
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 40%;
    background-color: rgb(255, 255, 255);
}
.page{
    width: 100%;
}
.inp>input{
	padding-left: 1%;
	padding-right: 1%;
	font-size: 110%;
	outline: none;
    width: 75%;
	height: 35px;
	border: none;
	border-radius: 5px;
}
.inp>button{
	border: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.inp> .clean{
	border-radius: 100%;
	font-size: 110%;
	margin-right: 1%;
    background-color: white;
}
.inp> .search{
	border-left: 1px solid black ;
	background-color: #00ff04b3;
	width: 20%;
	font-size: 200%;
}
.menu{
    background-color: rgb(0, 0, 0);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 20px;
}
.menu > button{
    margin: auto;
    border-radius: 5%;
    min-width: 150px;
    width: 15%;
    height: 30px;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}