.add{
    margin: auto;
    width: 50%;
}
.add > input{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 100%;
}
.add > textarea{
    margin-top: 10px;
    width: 100%;
    resize: none;
}
.add > button{
    margin-top: 5px;
    border-radius: 5%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 30px;
    border: none;
}

