.form{
    margin: auto;
}
.auth{
	border-radius: 10px;
	border: 2px solid black;
	width: 20%;
	min-width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.login,.password,.number{
    height: 30px;
    width: 90%;
    margin-top: 20px;
}
.btn{
    color:white;
    background-color:#00cb00;
    border-radius: 5px;
    border: 0;
	width: 50%;
    margin-top: 20px;
    height: 30px;
}
.link{
	margin-top: 10px;
	height: 30px;
}
.message{
    border-radius: 5px;
    margin: auto;
    width: 85%;
    padding: 2.5%; 
    min-height: 30px;
    border: 2px solid #ff00007a; 
    background-color: #ff000020;
    margin-bottom: 5%;
    word-break: break-all;
 }